<app-nav></app-nav>
<div class="abt_banner">
    <div>
        <p class="abt_title">
            Our Vision
            We envision a world where anyone, anywhere has the power to transform their lives through learning.
        </p>
        <button class="btn" mat-raised-button color="warn">Learn More</button>
    </div>
    <pre></pre>
    <div class="abt">
        <div class="abt_text">
           {{' Kwik Learn partners with more than 275 leading universities and companies to bring flexible, affordable,\
            job-relevant online learning to individuals and organizations worldwide. We offer a range of learning\
            opportunities—from hands-on projects and courses to job-ready certificates and degree programs.'| ellipses}}
        </div>
        <div class="abt_img">
            <img src="https://images.ctfassets.net/00atxywtfxvd/4vOWgNjy4KExR8msqHnJEP/bb1557d60e8a29f6a5f09148f700bff5/partner-logos.png" class="innerimage">
        </div>
    </div>
</div>

<app-footer></app-footer>