<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=""><mat-icon style="padding-right: 10px;">home</mat-icon>HOME</a>
      <a mat-list-item [matMenuTriggerFor]="appmenu"><mat-icon style="padding-right: 10px;" matBadge="3" matBadgeSize="small">book</mat-icon>COURSES</a>
      <a mat-list-item routerLink="" ><mat-icon style="padding-right: 10px;">how_to_reg</mat-icon>REGISTER</a>
      <a mat-list-item routerLink=""><mat-icon style="padding-right: 10px;">contact_support</mat-icon>CONTACT</a>
      <a mat-list-item routerLink=""><mat-icon style="padding-right: 10px;">business</mat-icon>ABOUT</a>
      <mat-menu #appmenu="matMenu">
        <button mat-menu-item >Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Nodejs</button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>E-Courses</span>
    </mat-toolbar>
    <!-- home page here -->
  <app-home></app-home>
  <app-footer></app-footer>
  <!-- page ends -->
  </mat-sidenav-content>
</mat-sidenav-container>
