<mat-toolbar color="primary" class="navbar">
  <a style="font-size: 2rem;" router-link="/">KWIK LEARN</a>
  <div class="nav">
    <span> <a routerLink="/"><mat-icon>home</mat-icon>Home</a></span>
    <span> <a routerLink="/courses"><mat-icon matBadge="5" matBadgeSize="small" matBadgeColor="warn">book</mat-icon>Courses</a></span>
    <span><a routerLink="/contact"><mat-icon>contact_support</mat-icon>Contact</a></span>
    <span><a routerLink="/about"><mat-icon>business</mat-icon>About Us</a></span>
    <span>
      <div class="search">
        <input placeholder="Search Courses">
        <button mat-icon-button color="warn" (click)='isalert("")'><mat-icon>search</mat-icon></button>
      </div>
    </span>
    <span> <button mat-button (click)="register()">Register</button>
    </span>
    <span><button mat-raised-button (click)="login()">Login</button>
    </span>
  </div>
</mat-toolbar>