.sidenav-container {
  height: 100%;
}
a{
  padding: 5px;
  margin: 5px;
}
.sidenav {
  width: 8%;
}
.sidenav a{
  width: 90%;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.nav{
  justify-content: space-between;
}

.search{
  display: flex;
  transform: scale(0.8);
}
.search input{
  border-radius: 25px;
  text-align: center;
}

.search_width {
  width: 100%;
}
span{
  padding-right: 10px;
}
.nav a{
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  .navbar {
    width: 200%;
    height: 25%;
    font-size: 14px;
  }
}
