<app-nav></app-nav>
<!-- angular -->
<mat-card class="course-card">
    <mat-card-header>
        <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/angular-js-512.png"
            mat-card-avatar>
        <mat-card-title>Angular 9-15</mat-card-title>
        <mat-card-subtitle>Complete Angular Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img_card"
        src="https://miro.medium.com/v2/resize:fit:786/format:webp/1*cGDDA2mfYkjiIhGaN8gDoA.png">
    <mat-card-content>
        <mat-list>
            <ul>
                <li>Angular lets you start small and supports you as your team and apps grow.</li>
                <li>Join the millions of developers building with Angular in a thriving and friendly community.</li>
            </ul>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://angular.io/"><mat-icon color="warn">code</mat-icon></a>
        <button mat-button>Enroll</button>
    </mat-card-actions>
</mat-card>
<!-- React -->
<mat-card class="course-card">
    <mat-card-header>
        <img src="https://cdn.freebiesupply.com/logos/large/2x/react-1-logo-png-transparent.png" mat-card-avatar>
        <mat-card-title>Reactjs</mat-card-title>
        <mat-card-subtitle>Complete ReactJS Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img_card"
        src="https://www.loginradius.com/blog/static/00a89fc56461ea1529439d89072c93f1/2ea1d/react.jpg">
    <mat-card-content>
        <mat-list>
            <ul>
                <li>ReactJS lets you start small and supports you as your team and apps grow.</li>
                <li>Join the millions of developers building with ReactJS in a thriving and friendly community.</li>
            </ul>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://react.dev/"><mat-icon color="warn">code</mat-icon></a>
        <button mat-button>Enroll</button>
    </mat-card-actions>
</mat-card>
<!-- node -->
<mat-card class="course-card">
    <mat-card-header>
        <img src="https://icon-library.com/images/node-js-icon/node-js-icon-2.jpg" mat-card-avatar>
        <mat-card-title>Nodejs</mat-card-title>
        <mat-card-subtitle>Complete Nodejs Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img_card"
        src="https://www.loginradius.com/blog/static/6ee159acf6c294342ec04f86aede5d14/701ee/coverImage.jpg">
    <mat-card-content>
        <mat-list>
            <ul>
                <li>As an asynchronous event-driven JavaScript runtime, Node.js is designed to build scalable network
                    applications.
                </li>
            </ul>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://nodejs.org/"><mat-icon color="warn">code</mat-icon></a>
        <button mat-button>Enroll</button>
    </mat-card-actions>
</mat-card>
<!-- ------------------ -->

<mat-card class="course-card">
    <mat-card-header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/512px-.NET_Core_Logo.svg.png?20210328084203" mat-card-avatar>
        <mat-card-title>.Net</mat-card-title>
        <mat-card-subtitle>Complete .Net Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img_card"
        src="https://www.muylinux.com/wp-content/uploads/2017/08/NET.png">
    <mat-card-content>
        <mat-list>
            <ul>
                <li>.NET is a free, cross-platform, open source developer platform for building many different types of applications.
                </li>
            </ul>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://dotnet.microsoft.com/"><mat-icon color="warn">code</mat-icon></a>
        <button mat-button>Enroll</button>
    </mat-card-actions>
</mat-card>
<!-- ------------------ -->

<mat-card class="course-card">
    <mat-card-header>
        <img src="https://yt3.googleusercontent.com/OWAcq1Yu0stdx87oWaZNPMLWYhAyrGhmDTPyi13jlmfAGkkLO5RgYnLGoaXqG_ZOWXCiuqKk=s176-c-k-c0x00ffffff-no-rj" mat-card-avatar>
        <mat-card-title>Android Devlopement </mat-card-title>
        <mat-card-subtitle>Complete Android Dev Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img_card"
        src="https://developer.android.com/static/images/social/android-developers.png">
    <mat-card-content>
        <mat-list>
            <ul>
                <li>Android development is a form of software engineering dedicated specifically to creating applications for devices that run on the Android platform.
                </li>
            </ul>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://developer.android.com/"><mat-icon color="warn">code</mat-icon></a>
        <button mat-button>Enroll</button>
    </mat-card-actions>
</mat-card>

<app-footer></app-footer>