<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia a numquam, similique quos sit perferendis ullam,
    perspiciatis nobis necessitatibus est recusandae mollitia vitae deserunt quibusdam aliquam odit enim? Rem eos vel
    laboriosam dignissimos veniam similique nisi, facilis quia assumenda quam illum esse sit. Pariatur cum possimus
    maxime magni corporis perspiciatis sapiente voluptatibus laudantium, ex, voluptates quasi sit quisquam voluptatum.
    Quia consequuntur rerum, eligendi nihil, ullam tempora consequatur ab corporis voluptas dolorum perferendis modi
    aliquam repellat expedita eaque veniam quisquam quaerat et? Minus laborum adipisci atque suscipit natus numquam
    officia in necessitatibus saepe? Eius dolores commodi distinctio molestias ipsum saepe quia voluptatibus vitae
    voluptatem tenetur mollitia, maiores, nemo rem sapiente exercitationem minus consequatur facilis. Dolor, iste
    maiores eos quasi tempore dolorum beatae praesentium blanditiis explicabo omnis officia quis sapiente repellendus
    <br>
<div class="btn">
    <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
    <button color='warn' mat-raised-button (click)="openDialog()" matBadge="3">Choose Courses</button>
</div>    <br>
    laboriosam, incidunt nobis dolore repudiandae exercitationem saepe non tenetur ullam distinctio reiciendis fugit!
    Nostrum, reiciendis minus. Modi pariatur nesciunt, aliquam placeat omnis error illo alias magnam quam corrupti,
    laboriosam eveniet at, cumque ipsum. Necessitatibus amet accusamus delectus minus alias, doloribus placeat error
    omnis debitis, nesciunt, possimus eum. Nostrum veniam, eligendi nihil voluptatem nesciunt asperiores consequatur
    vero modi, totam doloremque, ducimus ipsam repudiandae tenetur magni animi tempore libero ratione esse error quasi
    ab labore. Aspernatur cupiditate adipisci velit officia distinctio quo aut possimus tempora magni vel, soluta amet
    saepe nostrum quod repellendus alias porro nemo libero aperiam fugiat expedita eligendi omnis. Tenetur perferendis
    animi, soluta molestias assumenda quia iusto. Quia in libero ipsum doloribus atque amet omnis totam non nihil
    aliquid, harum autem repellat odit reiciendis esse earum ducimus dignissimos praesentium alias delectus. Sequi culpa
    minima, provident qui porro accusamus ab nulla eos ipsam, tempora perspiciatis quasi ducimus quia odit amet
    accusantium. Ipsum veniam culpa quod libero dolorem vel ut adipisci modi molestiae unde quis quibusdam, obcaecati,
    provident itaque. Corporis, at deleniti.
</h1>
    
